<h2><%= @listing.title %></h2>

<p><%= @listing.description %></p>

<p>$<%= @listing.price %> per night.</p>

<p>This listing accommodates <%= pluralize @listing.accommodates, "person" %>.</p>

<p>
  <%= @listing.address %><br>
  <%= @listing.city %>
</p>
