<h2><%= @listing.title %></h2>

<% if current_user.owns?(@listing) %>
  <%= link_to "Add Availability", new_listing_available_date_range_path(@listing) %>
<% end %>

<p><%= @listing.description %></p>

<p>$<%= @listing.price %> per night.</p>

<%= render @listing.available_date_ranges %>

<p>
  <%= @listing.address %><br>
  <%= @listing.city %>
</p>
