<%= form_for [@listing, @available_date_range] do |form| %>
  <div>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>
  <div>
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>
  <div>
    <%= form.submit%>
  </div>
<% end %>
