<%= link_to @reservation.listing.title, @reservation.listing %>
<p>
  <%= format_date(@reservation.start_date) %> to
  <%= format_date(@reservation.end_date) %>
</p>

<% if @reservation.order %>
  You paid <%= number_to_currency(@reservation.order.amount_paid) %> on <%= format_date(@reservation.order.created_at) %>.
<% else %>
  <%= render "payment_form", reservation: @reservation %>
<% end %>
