<h2>Search Results for: "<%= @city %> <%= @price %> <%= @property_category %> <%= @room_category %>"</h2>

<ul>
  <% @listings.each do |listing| %>
    <li><%= link_to listing.title, listing %> <%= number_to_currency(listing.price, precision: 0) %></li>
  <% end %>
</ul>
