<!DOCTYPE html>
<html>
<head>
  <title>Rentr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "Search", search_path %>
  <% if signed_in? %>
    <%= link_to "Your Reservations", reservations_path %>
    <%= link_to "Sign out", session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign in", new_session_path %>
    <%= link_to "Sign up", new_user_path %>
  <% end %>
</nav>

<%= render "flash_messages" %>

<h1>Rentr</h1>

<%= yield %>

</body>
</html>
